body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #495057;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

.weather-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border-radius: 10px;
  background-color: #fff;
  width: 100%; /* Ensures card takes up full width of its container */
  max-width: 600px; /* Max width for better layout control */
  margin: 20px auto; /* Centers the card */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 20px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

h1, h2, h3, h4, h5, h6 {
  color: #343a40;
}

p {
  line-height: 1.6;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #343a40;
}
