body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav {
  background-color: #1a1a1a; /* Dark gray background */
  padding: 20px 40px; /* More padding for a spacious look */
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

nav a {
  margin-right: 20px; /* Increased margin */
  color: #f0f0f0; /* Light gray color for text */
  text-decoration: none;
  font-weight: 500; /* Medium font weight */
  font-size: 18px; /* Larger font size */
}

nav a:hover {
  color: #ffcc00; /* Yellow color on hover */
  text-decoration: underline;
}

nav a.active {
  text-decoration: none;
  font-weight: bolder;
  color: #ffcc00; /* Yellow color for active link */
}
